:root{
    --primary-color: rgba(0, 0, 0, 0.151);
    --secondary-color: gray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Navbar */

.main-nav{
    background: #000;
    color: #fff;
}

.main-nav h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    white-space: nowrap;
}

.main-nav{
    display: flex;
}

.main-nav ul{
    display: flex;
    list-style: none;
    margin-left: 400px;
    padding: 20px;
}

.main-nav ul li{
   padding: 10px;
}

.main-nav ol{
    display: flex;
    list-style: none;
    padding: 20px;
    margin-left: 100px;
}

.main-nav ol li{
    padding: 10px;
}

.btn{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.btn:hover{
    background: var(--secondary-color);
    transition: all 1s ease-in-out;
}

.current{
    background: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.current:hover{
    background: var(--primary-color);
    border-bottom: 1px var(--secondary-color) solid;
    transition: all 1s ease-in-out;
}


/* Icons */

.icons ul{
    display: flex;
    padding: 10px;
    margin-left: 25%;
}

.icons ul li{
    list-style: none;
    margin: 0 15px;
}

.icons ul li .fab{
    font-size: 30px;
    line-height: 60px;
    color: #fff;
    text-align: center;
}

.icons ul li a{
    position: relative;
    display: block;
    background: lightslategrey;
    border-radius: 50%;
    text-align: center;
    width: 60px;
    height: 60px;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.icons ul li a:hover{
    transform: translate(0, -5px);
}

.icons ul li .fab:hover{
    color: #fff;
}

.icons ul li:nth-child(1) a:hover{
    background: #1877f2;
}

.icons ul li:nth-child(2) a:hover{
    background: #c32aa3;
}


.icons ul li:nth-child(3) a:hover{
    background: #1da1f2;
}


.icons ul li:nth-child(4) a:hover{
    background: #0a66c2;
}


.icons ul li:nth-child(5) a:hover{
    background: #bd081c;
}





/* main-Content */

.Content{
    padding: 20px;
}

.Content .main-content{
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px solid lightgray;
    align-self: center;
    text-align: center;
}

.Content .main-content img{
    height: 400px;
    width: 600px;
    margin-bottom: 5px;
}

.Content h1{
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
}

/* Content Flexes */

.cont{
    display: flex;
    overflow: hidden;
    margin: 10px;
}

.Box-1{
    flex: 1;
    text-align: center;
    border: 1px solid lightgray;
    margin: 10px;
    padding: 10px;
}

.Box-2{
    flex: 1;
    text-align: center;
    border: 1px solid lightgray;
    margin: 10px;
    padding: 10px;
}


.Reviews{
    padding: 30px;
    line-height: 2rem;
    width: 40%;
    border: 1px solid lightgray;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

input{
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  
}


/* input[type=text]{
    margin-left: 10px;
} */

/* input[type=email]{
    margin-left: 40px;
    margin-bottom: 10px;
} */

.button{
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background: var(--secondary-color);
    border-radius: 5px;
    margin-right: 150px;
    align-items: center;
}

.button:hover{
    background: #000;
    transition: all 0.5s ease-in;
}


/* Footer */

.main{
    background: #000;
    color: #fff;
}

.main-footer{
    padding: 20px;
    display: flex;
    background: #000;
    color: #fff;
    height: 300px;
    position: relative;
}

.main-footer h2{
    font-style: italic;
}

.main-footer ul{
    list-style: none;
}

.main-footer ul li a{
    color: #fff;
    text-decoration: none;
}

.main-footer ul li{
    padding-top: 8px;

}


/* .main-footer .Flex-3 ul li{
    border-bottom: 1px dotted lightgray;
    width: 10%;
}

.main-footer .Flex-2 ul li{
    border-bottom: 1px dotted lightgray;
    width: 15%;
} */

.Link{
    text-decoration: none;
    color: #fff;
}

.Link:hover{
    color: rgb(212, 212, 212);
}

.main-footer .Flex-1{
    flex: 1;
    padding: 5px;
}

.main-footer .Flex-2{
    flex: 1;
    padding: 5px;
}

.main-footer .Flex-3{
    flex: 1;
    padding: 5px;
}

.copy{
    padding: 10px;
    transform: translateY(-30px);
    margin-left: 10px;
}


/* Read-More */

.main-Content{
    margin: auto;
    width: 50%;
    padding: 10px;
    align-self: center;
    text-align: left;
    padding: 20px;
}

.main-Content img{
    width: 600px;
    margin-bottom: 5px;
}

.main-Content h2{
    margin-bottom: 5px;
    font-style: italic;
}

.main-Content p{
    margin-bottom: 5px;
}

.main-Content h1{
    margin-bottom: 5px;
    font-style: italic;
} 

.RM{
    text-decoration: none;
}

.RM:hover{
    color: green;
    transition: all 0.5s ease-in;
}

.Reviews-1{
    padding: 30px;
    line-height: 2rem;
    width: 40%;
    border: 1px solid lightgray;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.Reviews-1 h1{
    font-style: italic;
}


/* About Page */

.About{
    padding: 10px;
    text-align: center;
    justify-content: center;
    /* width: 90%; */
    border: 1px solid lightgray;
    margin: 10px;
    margin-left: 20px;
    
}

.About h1{
    font-style: italic;
    font-size: 3rem;
}

/* Contact */

.contact{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    margin-top: 20px;
}

.forms {
    margin: 35px;
}

.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #777;
    border-radius: 14px;
}

.textarea-field{
    height: 150px;
    padding-top: 10px;
    border-radius: 14px;
    outline: none;
}

.main-1{
    margin-top: 40%;
    bottom: 0;
}

.main-1 .copy{
    color: #fff;
    background: #000;
    padding: 0px;
    position: absolute;
}


/* Login */

.box{
    margin-top: 10px;
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    border-radius: 10px;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #2ecc71;
    transition: all 0.5s ease-in;
}

/* Sign-up */

.sign{
    margin-top: 60px;
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    border-radius: 10px;
}

.sign h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.sign input[type = "text"], .sign input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}


.sign input[type = "text"]:focus, .sign input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}


.sign input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.sign input[type = "submit"]:hover{
    background: #2ecc71;
    transition: all 0.5s ease-in;
}

.main-2{
    margin-top: 45%;
    bottom: 0;
}

.main-2 .copy{
    color: #fff;
    background: #000;
    padding: 0px;
    position: absolute;
}

/* End */










